<div>
  <mat-toolbar color="primary">
    <span>DevConquer</span>

    <button mat-icon-button [mat-menu-trigger-for]="menu">
      <mat-icon>account_circle</mat-icon>
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>
  <mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item>Option 1</button>
    <button mat-menu-item>Option 2</button>
  </mat-menu>

  <mat-card>
    <h2>
      Welcome to Angular material.
    </h2>
    <button mat-flat-button color="primary">
      <span>
        <mat-icon>mood</mat-icon>
      </span>
      Ok
    </button>
  </mat-card>
</div>